html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	line-height: 1.0;
	word-wrap: break-word;
	overflow-x: hidden;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	font-family: 'Lucida Console', 'Courier New', 'monospace';
	font-weight: normal;
	text-indent: 0;
	letter-spacing: 0;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

a {
	-moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	-ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
	color: inherit;
	text-decoration: underline;
}

s {
	text-decoration: line-through;
}

body:before {
	content: '';
	display: block;
	background-image: linear-gradient(45deg, #81A6DA 0%, #83C8EF 100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

html {
	font-size: 18pt;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

#main {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
	max-width: 100%;
	z-index: 1;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	text-align: center;
	-moz-transition: opacity 1s ease-in-out 0.5s;
	-webkit-transition: opacity 1s ease-in-out 0.5s;
	-ms-transition: opacity 1s ease-in-out 0.5s;
	transition: opacity 1s ease-in-out 0.5s;
}

#main > .inner {
	position: relative;
	z-index: 1;
	border-radius: inherit;
	padding: 3rem 3rem;
	max-width: 100%;
	width: 65rem;
}

#main > .inner > * {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

#main > .inner > :first-child {
	margin-top: 0 !important;
}

#main > .inner > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(-3rem);
	width: calc(100% + 6rem + 0.4725px);
	max-width: calc(100% + 6rem + 0.4725px);
}

#main > .inner > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .full:last-child {
	margin-bottom: -3rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .full.screen {
	width: 100vw;
	max-width: 100vw;
	position: relative;
	border-radius: 0 !important;
	left: 50%;
	right: auto;
	margin-left: -50vw;
}

body.is-loading #main {
	opacity: 0;
}

.container > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

#main .container.full:first-child > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container02 > .inner {
	text-align: right;
	padding: 2rem 2rem;
	width: 100%;
	max-width: 65rem;
	display: inline-block;
}

#container02 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: transparent;
}

#container02 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container02 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container02 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container01 > .inner {
	text-align: left;
	padding: 0rem 2rem;
	width: 100%;
	max-width: 65rem;
	display: inline-block;
}

#container01 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: transparent;
}

#container01 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container01 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container01 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container03 > .inner {
	text-align: center;
	padding: 0rem 2rem;
	width: 100%;
	max-width: 65rem;
	display: inline-block;
}

#container03 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-image: url('images/container03.png');
	background-position: center;
	background-repeat: repeat;
	background-size: 100% 100%;
	background-attachment: scroll;
}

#container03 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container03 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container03 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container03 > .inner > .full {
	margin-left: calc(-2rem);
	width: calc(100% + 4rem + 0.4725px);
	max-width: calc(100% + 4rem + 0.4725px);
}

#container03 > .inner > .full:first-child {
	margin-top: -0rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container03 > .inner > .full:last-child {
	margin-bottom: -0rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container09 > .inner {
	text-align: center;
	padding: 0rem 2rem;
	width: 100%;
	max-width: 65rem;
	display: inline-block;
}

#container09 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container09 > .inner > * {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#container09 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container09 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container09 > .inner > .full {
	margin-left: calc(-2rem);
	width: calc(100% + 4rem + 0.4725px);
	max-width: calc(100% + 4rem + 0.4725px);
}

#container09 > .inner > .full:first-child {
	margin-top: -0rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container09 > .inner > .full:last-child {
	margin-bottom: -0rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container04 > .inner {
	text-align: center;
	padding: 0.75rem 2rem;
	width: 100%;
	max-width: 65rem;
	display: inline-block;
}

#container04 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container04 > .inner > * {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

#container04 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container04 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container04 > .inner > .full {
	margin-left: calc(-2rem);
	width: calc(100% + 4rem + 0.4725px);
	max-width: calc(100% + 4rem + 0.4725px);
}

#container04 > .inner > .full:first-child {
	margin-top: -0.75rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container04 > .inner > .full:last-child {
	margin-bottom: -0.75rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#container05 > .inner {
	text-align: center;
	padding: 0.75rem 6rem;
	width: 100%;
	max-width: 65rem;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

#container05 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container05 > .inner > * {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	max-width: 100%;
	padding: 0 0 0 0rem;
}

#container05 > .inner > :nth-child(1) {
	width: 50%;
}

#container05 > .inner > :nth-child(2) {
	width: 50%;
}

#container05 > .inner > * > * {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#container05 > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container05 > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container05 > .inner > *:first-child {
	margin-left: -0rem;
}

#container07 > .inner {
	text-align: center;
	padding: 0.75rem 6rem;
	width: 100%;
	max-width: 65rem;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

#container07 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container07 > .inner > * {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	max-width: 100%;
	padding: 0 0 0 3.5rem;
}

#container07 > .inner > :nth-child(1) {
	width: calc(37% + 1.75rem);
	text-align: left;
}

#container07 > .inner > :nth-child(2) {
	width: calc(63% + 1.75rem);
}

#container07 > .inner > * > * {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#container07 > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container07 > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container07 > .inner > *:first-child {
	margin-left: -3.5rem;
}

#container06 > .inner {
	text-align: center;
	padding: 0.75rem 6rem;
	width: 100%;
	max-width: 65rem;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

#container06 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container06 > .inner > * {
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	max-width: 100%;
	padding: 0 0 0 3.5rem;
}

#container06 > .inner > :nth-child(1) {
	width: calc(63% + 1.75rem);
}

#container06 > .inner > :nth-child(2) {
	width: calc(37% + 1.75rem);
	text-align: left;
}

#container06 > .inner > * > * {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#container06 > .inner > * > *:first-child {
	margin-top: 0 !important;
}

#container06 > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

#container06 > .inner > *:first-child {
	margin-left: -3.5rem;
}

#container08 > .inner {
	text-align: center;
	padding: 3rem 6rem;
	width: 100%;
	max-width: 65rem;
	display: inline-block;
}

#container08 {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #FFFFFF;
}

#container08 > .inner > * {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#container08 > .inner > *:first-child {
	margin-top: 0 !important;
}

#container08 > .inner > *:last-child {
	margin-bottom: 0 !important;
}

#container08 > .inner > .full {
	margin-left: calc(-6rem);
	width: calc(100% + 12rem + 0.4725px);
	max-width: calc(100% + 12rem + 0.4725px);
}

#container08 > .inner > .full:first-child {
	margin-top: -3rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#container08 > .inner > .full:last-child {
	margin-bottom: -3rem !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.icons {
	cursor: default;
	padding: 0;
	letter-spacing: 0;
}

.icons li {
	display: inline-block;
	vertical-align: middle;
}

.icons li a {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.icons li a svg {
	display: block;
	-moz-transition: fill 0.25s ease;
	-webkit-transition: fill 0.25s ease;
	-ms-transition: fill 0.25s ease;
	transition: fill 0.25s ease;
}

.icons li a .label {
	display: none;
}

#social {
	font-size: 1.5em;
	width: calc(100% + 0.75rem);
	margin-left: -0.375rem;
}

#social li {
	margin: 0.375rem;
}

#social li a {
	width: 1em;
	height: 1em;
}

#social li a svg {
	width: 100%;
	height: 100%;
}

#social .n01 svg {
	fill: #171717;
}

#social .n01:hover svg {
	fill: rgba(23,23,23,0.741);
}

#social .n02 svg {
	fill: #171717;
}

#social .n02:hover svg {
	fill: rgba(23,23,23,0.741);
}

hr {
	width: 100%;
	position: relative;
	padding: 0;
	border: 0;
}

hr:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}

#divider02 {
	height: 3.125rem;
	line-height: 3.125rem;
}

#divider02:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
}

#divider03 {
	height: 8rem;
	line-height: 8rem;
}

#divider03:before {
	width: 3%;
	border-top: solid 1px transparent;
	height: 1px;
}

#divider01 {
	height: 1.625rem;
	line-height: 1.625rem;
}

#divider01:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
}

#divider08 {
	height: 2.25rem;
	line-height: 2.25rem;
}

#divider08:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
}

#divider09 {
	height: 1rem;
	line-height: 1rem;
}

#divider09:before {
	width: 3%;
	border-top: solid 3px transparent;
	height: 3px;
}

#divider05 {
	height: 4.5rem;
	line-height: 4.5rem;
}

#divider05:before {
	width: 3%;
	border-top: solid 3px transparent;
	height: 3px;
}

#divider07 {
	height: 1.25rem;
	line-height: 1.25rem;
}

#divider07:before {
	width: 25%;
	border-top: solid 3px #80A5D9;
	height: 3px;
}

#divider06 {
	height: 1.25rem;
	line-height: 1.25rem;
}

#divider06:before {
	width: 25%;
	border-top: solid 3px #80A5D9;
	height: 3px;
}

#divider04 {
	height: 1.875rem;
	line-height: 1.875rem;
}

#divider04:before {
	width: 3%;
	border-top: solid 3px #171717;
	height: 3px;
}

h1 br + br, h2 br + br, h3 br + br, p br + br {
	display: block;
	content: ' ';
}

h1 .li, h2 .li, h3 .li, p .li {
	display: list-item;
	padding-left: 0.5em;
	margin: 0.75em 0 0 1em;
}

#copyright br + br {
	margin-top: 0.75rem;
}

#copyright {
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 0.75em;
	line-height: 1.25;
	font-weight: 500;
}

#text06 br + br {
	margin-top: 0.45rem;
}

#text06 {
	text-align: center;
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 1.375em;
	line-height: 0.75;
	font-weight: 500;
}

#text05 br + br {
	margin-top: 0.45rem;
}

#text05 {
	text-align: center;
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 1.375em;
	line-height: 0.75;
	font-weight: 500;
}

#text03 br + br {
	margin-top: 0.675rem;
}

#text03 {
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 2.75em;
	line-height: 1.125;
	font-weight: 700;
}

#text04 br + br {
	margin-top: 0.45rem;
}

#text04 {
	text-align: center;
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 2em;
	line-height: 0.75;
	font-weight: 700;
}

#text07 br + br {
	margin-top: 0.75rem;
}

#text07 {
	text-align: left;
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 2em;
	line-height: 1.25;
	font-weight: 700;
}

#text01 br + br {
	margin-top: 0.75rem;
}

#text01 {
	text-align: left;
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 2em;
	line-height: 1.25;
	font-weight: 700;
}

#text02 br + br {
	margin-top: 0.75rem;
}

#text02 {
	color: #171717;
	font-family: 'Montserrat', 'sans-serif';
	font-size: 1.375em;
	line-height: 1.25;
	font-weight: 400;
}

.image {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	display: block;
}

.image a, .image span {
	position: relative;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image a img, .image span img {
	display: block;
}

.image img {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
}

.image.full img {
	display: block;
}

.image.full:first-child img {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child img {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.image.full a, .image.full span {
	display: block;
}

#illustrator img {
	width: 5rem;
}

#photoshop img {
	width: 5rem;
}

#scroll img {
	width: 5rem;
}

#thread-designs img {
	width: 37.5rem;
}

#website-designs img {
	width: 37.5rem;
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	
	#main > .inner {
		padding: 3rem 2rem;
	}
	
	#main > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -3rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -3rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#container02 > .inner {
		padding: 2rem 2rem;
		max-width: 100%;
	}
	
	#container02 > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	
	#container01 > .inner {
		padding: 0rem 2rem;
		max-width: 100%;
	}
	
	#container01 > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	
	#container03 {
		margin-top: 2.875rem !important;
	}
	
	#container03 > .inner {
		padding: 0rem 2rem;
		max-width: 100%;
	}
	
	#container03 > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	
	#container03 > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#container03 > .inner > .full:first-child {
		margin-top: -0rem !important;
	}
	
	#container03 > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}
	
	#container09 {
		margin-top: 2.875rem !important;
	}
	
	#container09 > .inner {
		padding: 0rem 2rem;
		max-width: 100%;
	}
	
	#container09 > .inner > * {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	
	#container09 > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#container09 > .inner > .full:first-child {
		margin-top: -0rem !important;
	}
	
	#container09 > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}
	
	#container04 > .inner {
		padding: 0.75rem 2rem;
		max-width: 100%;
	}
	
	#container04 > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	#container04 > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#container04 > .inner > .full:first-child {
		margin-top: -0.75rem !important;
	}
	
	#container04 > .inner > .full:last-child {
		margin-bottom: -0.75rem !important;
	}
	
	#container05 > .inner {
		padding: 0.75rem 2rem;
		max-width: 100%;
	}
	
	#container05 > .inner > :nth-child(1) {
		width: calc(50% + 0.87rem);
	}
	
	#container05 > .inner > :nth-child(2) {
		width: calc(50% + 0.87rem);
	}
	
	#container05 > .inner > * > * {
		margin-top: 0.625rem;
		margin-bottom: 0.625rem;
	}
	
	#container05 > .inner > * {
		padding: 0 0 0 1.75rem;
	}
	
	#container05 > .inner > *:first-child {
		margin-left: -1.75rem;
	}
	
	#container07 > .inner {
		padding: 0.75rem 2rem;
		max-width: 100%;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	
	#container07 > .inner > :nth-child(1) {
		width: calc(37% + 1.75rem);
		width: 100%;
		min-height: 100%;
		text-align: inherit;
	}
	
	#container07 > .inner > :nth-child(2) {
		width: calc(63% + 1.75rem);
		width: 100%;
		min-height: 100%;
		text-align: inherit;
	}
	
	#container07 > .inner > * > * {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	#container07 > .inner > * {
		padding: 0 0 0 3.5rem;
		padding: 1.75rem 0;
	}
	
	#container07 > .inner > *:first-child {
		margin-left: -3.5rem;
		margin-left: 0;
		padding-top: 0;
	}
	
	#container07 > .inner > *:last-child {
		padding-bottom: 0;
	}
	
	#container06 > .inner {
		padding: 0.75rem 2rem;
		max-width: 100%;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	
	#container06 > .inner > :nth-child(1) {
		width: calc(63% + 1.75rem);
		width: 100%;
		min-height: 100%;
		text-align: inherit;
	}
	
	#container06 > .inner > :nth-child(2) {
		width: calc(37% + 1.75rem);
		width: 100%;
		min-height: 100%;
		text-align: inherit;
	}
	
	#container06 > .inner > * > * {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	#container06 > .inner > * {
		padding: 0 0 0 3.5rem;
		padding: 1.75rem 0;
	}
	
	#container06 > .inner > *:first-child {
		margin-left: -3.5rem;
		margin-left: 0;
		padding-top: 0;
	}
	
	#container06 > .inner > *:last-child {
		padding-bottom: 0;
	}
	
	#container08 > .inner {
		padding: 3rem 2rem;
		max-width: 100%;
	}
	
	#container08 > .inner > * {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	
	#container08 > .inner > .full {
		margin-left: calc(-2rem);
		width: calc(100% + 4rem + 0.4725px);
		max-width: calc(100% + 4rem + 0.4725px);
	}
	
	#container08 > .inner > .full:first-child {
		margin-top: -3rem !important;
	}
	
	#container08 > .inner > .full:last-child {
		margin-bottom: -3rem !important;
	}
	
	#divider02 {
		height: 2rem;
		line-height: 2rem;
	}
	
	#divider03 {
		height: 2rem;
		line-height: 2rem;
	}
	
	#divider01 {
		height: 1.625rem;
		line-height: 1.625rem;
	}
	
	#divider08 {
		height: 2rem;
		line-height: 2rem;
	}
	
	#divider09 {
		height: 1rem;
		line-height: 1rem;
	}
	
	#divider05 {
		height: 2rem;
		line-height: 2rem;
	}
	
	#divider07 {
		height: 1.25rem;
		line-height: 1.25rem;
	}
	
	#divider06 {
		height: 1.25rem;
		line-height: 1.25rem;
	}
	
	#divider04 {
		height: 1.875rem;
		line-height: 1.875rem;
	}
	
	#illustrator img {
		width: 5rem;
	}
	
	#photoshop img {
		width: 5rem;
	}
	
	#scroll img {
		width: 5rem;
	}
	
	#thread-designs img {
		width: 37.5rem;
	}
	
	#website-designs img {
		width: 37.5rem;
	}
}

@media (max-width: 480px) {
	#main > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	#container02 > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}
	
	#container01 > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}
	
	#container03 > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}
	
	#container09 > .inner > * {
		margin-top: 0.65625rem;
		margin-bottom: 0.65625rem;
	}
	
	#container04 > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	#container05 > .inner > * > * {
		margin-top: 0.625rem;
		margin-bottom: 0.625rem;
	}
	
	#container07 > .inner > * > * {
		margin-top: 0.4375rem;
		margin-bottom: 0.4375rem;
	}
	
	#container06 > .inner > * > * {
		margin-top: 0.4375rem;
		margin-bottom: 0.4375rem;
	}
	
	#container08 > .inner > * {
		margin-top: 0.4375rem;
		margin-bottom: 0.4375rem;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		padding: 2.25rem 1.5rem;
	}
	
	#main > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	#main > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > .full:first-child {
		margin-top: -2.25rem !important;
	}
	
	#main > .inner > .full:last-child {
		margin-bottom: -2.25rem !important;
	}
	
	#main > .inner > .full.screen {
		margin-left: -50vw;
	}
	
	#container02 > .inner {
		padding: 1.5rem 1.5rem;
	}
	
	#container02 > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}
	
	#container01 > .inner {
		padding: 0rem 1.5rem;
	}
	
	#container01 > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}
	
	#container03 > .inner {
		padding: 0rem 1.5rem;
	}
	
	#container03 > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}
	
	#container03 > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#container03 > .inner > .full:first-child {
		margin-top: -0rem !important;
	}
	
	#container03 > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}
	
	#container09 > .inner {
		padding: 0rem 1.5rem;
	}
	
	#container09 > .inner > * {
		margin-top: 0.5625rem;
		margin-bottom: 0.5625rem;
	}
	
	#container09 > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#container09 > .inner > .full:first-child {
		margin-top: -0rem !important;
	}
	
	#container09 > .inner > .full:last-child {
		margin-bottom: -0rem !important;
	}
	
	#container04 > .inner {
		padding: 0.5625rem 1.5rem;
	}
	
	#container04 > .inner > * {
		margin-top: 0rem;
		margin-bottom: 0rem;
	}
	
	#container04 > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#container04 > .inner > .full:first-child {
		margin-top: -0.5625rem !important;
	}
	
	#container04 > .inner > .full:last-child {
		margin-bottom: -0.5625rem !important;
	}
	
	#container05 > .inner {
		padding: 0.5625rem 1.5rem;
	}
	
	#container05 > .inner > * > * {
		margin-top: 0.546875rem;
		margin-bottom: 0.546875rem;
	}
	
	#container07 > .inner {
		padding: 0.5625rem 1.5rem;
	}
	
	#container07 > .inner > * > * {
		margin-top: 0.375rem;
		margin-bottom: 0.375rem;
	}
	
	#container06 > .inner {
		padding: 0.5625rem 1.5rem;
	}
	
	#container06 > .inner > * > * {
		margin-top: 0.375rem;
		margin-bottom: 0.375rem;
	}
	
	#container08 > .inner {
		padding: 2.25rem 1.5rem;
	}
	
	#container08 > .inner > * {
		margin-top: 0.375rem;
		margin-bottom: 0.375rem;
	}
	
	#container08 > .inner > .full {
		margin-left: calc(-1.5rem);
		width: calc(100% + 3rem + 0.4725px);
		max-width: calc(100% + 3rem + 0.4725px);
	}
	
	#container08 > .inner > .full:first-child {
		margin-top: -2.25rem !important;
	}
	
	#container08 > .inner > .full:last-child {
		margin-bottom: -2.25rem !important;
	}
	
	#social {
		width: calc(100% + 0.5625rem);
		margin-left: -0.28125rem;
	}
	
	#social li {
		margin: 0.28125rem;
	}
	
	#text03 {
		font-size: 2em;
	}
	
	#text04 {
		font-size: 1.5em;
	}
	
	#text07 {
		font-size: 1.5em;
	}
	
	#text01 {
		font-size: 1.5em;
	}
}